<form method="POST" action="{{ action }}">
  {% for key,value in data %}
    <input type="hidden" name="{{ key }}" value="{{ value }}">
  {% endfor %}
  <input type="submit" class="button button--primary button--external" value="{{ "Submit"|t }}">
</form>
